:root {
    --main-color:#007eff;
    --background-color:#ffffff;
    --main-dark-color: #007adb;
    --main-light-color: rgba(0, 126, 255, 0.2);
    --text-color: #ffffff;
    --main-text-color: #272933;
    --href-bg-color: #f1f1f1;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    height: 100%;
    background-color: var(--background-color);
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid;

}

input {
    font-family: 'Montserrat', sans-serif;
}

select {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

header {
    height: 50px;
    position: fixed;
    width: 100%;
}

.navbar {
    background-color: var(--main-color);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
    border-bottom: var(--main-dark-color) solid 1px;
    z-index: 10;
}

main {
    min-height: calc(100vh - 160px);
}

.navbar, .main-container {
    padding: 0 10% 0 10%;
}

.main-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-item:hover {
    background-color: var(--main-dark-color);
    border-radius: 5px;
}

.navbar-logout {
    margin-right: 60px;
}


.profile-nav {
    padding: 5px;
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

.profile-nav img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border: var(--text-color) solid 1px;
    border-radius: 30px;
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.07);

}


.navbar-logo-text {
    text-transform: uppercase;
    /* font-size: 30px; */
    font-weight: bold;
    font-size: 18px;
    /* vertical-align: middle; */
}

.navbar-item {
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
    padding: 16px 16px;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.dropdown {
    display: inline-block;
    height: 100%;
}

.dropdown:hover {
    background-color: var(--main-dark-color);
    border-radius: 5px;
}

.dropdown-content {
    margin-top: 1px;
    display: none;
    position: fixed;
    background-color: var(--background-color);
    border: var(--main-dark-color) solid 1px;
    width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
    border-radius: 5px;
}

.dropdown-content a {
    color: var(--main-text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--href-bg-color);
    border-radius: 5px;
    color: var(--main-color);
}

.row {
    display: flex;
}

.column-1 {
    flex: 8.33333333%;
}

.column-2 {
    flex: 16.6666666%;
}

.column-3 {
    flex: 25%;
}

.column-4 {
    flex: 33.33333333%;
}

.column-5 {
    flex: 41.66666666%;
}

.column-6 {
    flex: 50%;
}

.column-7 {
    flex: 58.33333333%;
}

.column-8 {
    flex: 66.33333333%;
}

.column-9 {
    flex: 75%;
}

.column-10 {
    flex: 83.33333333%;
}

.column-11 {
    flex: 91%;
}

.column-12 {
    flex: 100%;
}

.sidebar {
    position: fixed;
    width: 250px;
    z-index: 1;
    overflow-x: hidden;
}

.sidebar-container {
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--main-color);
    margin-top: 40px;
    margin-bottom: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}

.sidebar-container .header-sidebar {
    padding: 10px;
}

.sidebar-container li {
    padding: 5px 10px 5px 5px;
}

.row .header-sidebar .column-2 {
    text-align: right;
}

.sidebar-container i {
    vertical-align: middle;
    color: var(--main-color);
}

.sidebar-container h3 {
    padding: 2px;
    margin: 0;
    color: var(--main-color);
}

.hr {
    width: 100%;
    height: 1px;
    color: rgba(0, 0, 0, 0);
    background-color: var(--main-color);
}

.group {
    box-shadow: 0 3px 10px 0 var(--main-light-color);
    height: 100%;
    margin-top: 10px;
}

.group-header {
    display: inline-block;
    width: 97%;
    padding: 10px 2% 10px 2%;

}

.group-header h1 {
    padding: 0 0 0 3%;
    color: var(--main-text-color);
}

.group-header button {
    width: 130px;
    height: 34px;
    transition: all 0.5s cubic-bezier(0.65,-0.25,0.25, 1.95);
}

.group-header .btn-set {
    color: var(--main-color);
    background-color: var(--text-color);
    outline: none;
    margin-top: 20px;
}

.group-header .btn-add {
    color: var(--text-color);
    background-color: var(--main-color);
    border: none;
    outline: none;
    margin-top: 20px;
}

.group-header .btn-add:hover {
    width: 150px;
}

.group-header .btn-set:hover {
    width: 150px;
}

.group-header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


table {
    padding-top: 40px;
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: var(--href-bg-color) solid 1px;
}

table, th {
    /*border: 1px solid #007eff;*/
}

td {
    padding: 3px 10px;
    text-align: center;
    min-height: 30px;
    /*background-color: #f9fbfd;*/
    /*border-bottom: 1px solid #007eff;*/
}
tr:nth-child(odd) { background-color: #f9fbfd; }


td img {
    width: 30px;
    padding: 3px;
    border: var(--href-bg-color) solid 1px;
    border-radius: 20px;
}

th {
    text-transform: uppercase;
    padding: 2px 10px;
    /*border: 1px solid #007eff;*/
}

.li-sidebar:hover {
    background-color: var(--href-bg-color);
    border-radius: 8px;
}

.li-sidebar a:hover {
    color: var(--main-color);

}

.li-sidebar img {
    width: 30px;
    height: 30px;
    margin-right: 2%;
    border: var(--href-bg-color) solid 1px;
    border-radius: 50%;

    vertical-align: middle;
}

.li-sidebar a {
    text-decoration: none;
    vertical-align: middle;
    display: block;
    color: var(--main-text-color);
}

.ul-sidebar {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 140px;
    overflow: auto;
}

.td-status-active {
    color: rebeccapurple;
    text-transform: lowercase;
}

.td-status-closed {
    color: #2ecc71;
    text-transform: lowercase;
}

footer {
    clear: both;
}

.footer .hr {
    background-color: var(--main-text-color);
    margin-top: 10px;
}

.footer {
    background-color: var(--href-bg-color);
    height: 170px;
    padding: 0 10%;
    color: var(--main-text-color);
}

.footer .logo {
    margin: 15px 0;
}

.footer .logo img {
    height: 50px;
}

.footer ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 0;
}

.footer ul:before {
    content: "Follow us:";
    font-size: 11px;
}

.footer li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.follow-us {
    text-align: right;
}

.follow-us img {
    height: 20px;
}

.company {
    padding-left: 83px;
    font-size: 11px;
}


.company a {
    display: block;
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 10px;
}

.company a:hover {
    color: var(--main-color);
}


@media only screen and (max-width: 600px) {
    body {
        height: 100%;
    }

    main {
        min-height: calc(100vh - 70px);
    }

    .footer ul {
        display: none;
    }

    .footer .logo img {
        height: 30px;
    }

    .company {
        padding-left: 5%;
    }

}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .footer ul {
        display: none;
    }

    .footer .logo img {
        height: 40px;
    }

    main {
        min-height: calc(100vh - 85px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .main-container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .sidebar {
        width: 140px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .footer ul {
        display: none;
    }

    main {
        min-height: calc(100vh - 95px);
    }

    .main-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sidebar {
        width: 180px;

    }

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,255,255,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--background-color);
    color: var(--main-text-color);
    margin: auto;
    padding: 0;
    border: 2px solid var(--main-color);
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.4s ease-in-out;
    transform: translateY(-300px);
    border-radius: 8px;
    opacity: 0;
}

.modal-content-right {
    transform: translateX(-300px);
}

.modal-content-activate {
    transform: translate(0px);
    opacity: 1;
}

.modal .column-6 {
    text-align: center;
}

.modal .row {
    margin-bottom: 4%;
}

.column-6 #btn-date-paid {
    padding: 3% 7%;
    border: none;
    margin: auto 0;
    border-radius: 10px;
}

input[type="date" i] {
    background-color: var(--main-color);
}

.column-6 #expense-photo-btn {
    padding: 3% 7%;
    margin: auto 0;
    border-radius: 10px;
    height: 100%;
}


#who-settle-content {
    margin-right: 15%;
    opacity: 1;
    width: 18%;
}

#who-settle-content li {
    text-decoration: none;
}

.modal-settle-li:hover {
    background-color: var(--href-bg-color);
    border-radius: 8px;
}

.modal-settle-li span:hover {
    color: var(--main-color);
    cursor: pointer;
}

.modal-settle-li img {
    width: 20px;
    height: 20px;
    padding: 3%;
    vertical-align: middle;
}

.modal-settle-li span {
    text-decoration: none;
    vertical-align: middle;
    color: var(--main-text-color);
    background-color: transparent;
    border-radius: 0;
}


.modal-settle-ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* The Close Button */
.modal .close, .modal .add_a_photo {
    color: var(--main-text-color);
    width: auto;
    height: auto;
    padding: 0;
    margin-top: auto;
    background-color: transparent;
    outline: none;

}

.add-icon, .settings {
    border: none;
    color: var(--main-color);
    padding: 0;
    background-color: transparent;
    outline: none;
}

.modal .add_a_photo {
    padding-top: 8px;
}


.ul-sidebar .settings {
    font-size: 20px;
    padding-top: 6px;
}

.settings:hover {
    color: var(--main-color);
    cursor: pointer;
    background-color: transparent;

}

.modal .close:hover, .modal .add_a_photo:hover {
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}

.add-icon:hover {
    cursor: pointer;
}


.modal .modal-header {
    padding: 2px 16px;
    margin-top: 3%;
    margin-bottom: 3%;
    color: var(--main-text-color);
}

.modal-header .column-2 {
    text-align: right;
}

.modal-header h3 {
    margin: 0;
    font-weight: 900;
}

.modal-body {padding: 2px 16px;}

.modal-input {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border: rgba(72, 72, 72, 0.85) 0.5px solid;
    margin: 20px 0 10px 0;
    font-size: 14px;
    padding-left: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    background-color: var(--background-color);
    color: var(--main-text-color);
    outline: none;
}


.modal .btn-modal-links {
    background-color: var(--href-bg-color);
    text-decoration: none;
    width: auto;
    height: auto;
    color: var(--main-color);
    padding: 1%;
    font-size: 15px;
    border-radius: 50%;
}

.modal button {
    color: var(--text-color);
    background-color: var(--main-color);
    border: none;
    margin-top: 2%;
    margin-bottom: 2%;
    outline: none;
}


.input-percent-append {
    height: 100%;
    width: 50%;
    padding: 0 4px;
    border: 0;
    outline: none;
    background-color: var(--background-color);
    color: var(--main-text-color);
}

.percent-border {
    border: 1px solid var(--main-text-color);
    margin: 2px;
    padding: 2px;
    border-radius: 3px;
}

.percent  {
    padding: 5px 0 5px 0;
    vertical-align: middle;
}

#percentage-content {
    margin-right: 12%;
    animation-name: animateright;
    width: 22%;
}


#notificationModal .modal-content {
    width: 35%;
}

#notificationModal button {
    width: 70px;
    height: 34px;
}

#notificationModal button.button-accept {
    background-color: #4cd964;
}

#notificationModal button.button-decline {
    background-color: #ff3b30;
}

#notificationModal button.button-seen {
    margin-top: 4%;
}

#notificationModal .column-8 {
    padding-top: 2%;
}

#notificationModal .row {
    margin-bottom: 2%;
}

#add-group-photo-col, .edit-group-photo-col {
    text-align: right;
    margin: 20px 0 10px 0;
    color: var(--main-text-color);
}

#add-group-photo-col > i, .edit-group-photo-col > i {
    position:relative;
    top: calc(50% - 13px); /*todo remove 13px vertical centering*/
}

.settings-col {
    text-align: right;
}

.settings-col > i {
    position:relative;
    top: calc(50% - 13px); /*todo remove 13px vertical centering*/
}


.li-group-members img {
    width: 30px;
    height: 30px;
    margin-right: 2%;
    border: var(--href-bg-color) solid 1px;
    border-radius: 50%;
    vertical-align: middle;

}

.li-group-members a {
    text-decoration: none;
    vertical-align: middle;
    display: block;
    color: var(--main-text-color);
    padding: 5px 10px 5px 5px;
}

.ul-group-members {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.modal button.close-delete-member, .modal-invite-input + i.close-delete-new-member {
    position:relative;
    top: calc(50% - 11px);
    font-size: 20px;
    color:  #ff3b30;
}

.modal button.close-delete-member:hover, .modal-invite-input + i.close-delete-new-member:hover {
    top: calc(50% - 13px);
    font-size: 24px;
    color:  #ff3b30;
}

.groupSettingsModal .row {
    margin-bottom: 1%;
}

.modal .invite-group-member {
    background-color: var(--background-color);
    color: var(--main-color);
    border-color: var(--main-color);
    padding-left: 0;
}

.modal .invite-group-member:hover {
    cursor: pointer;
}

.modal-invite-input {
    display: inline-block;
    margin-top: 5px;
    height: 30px;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--main-text-color);
    border: rgba(72, 72, 72, 0.85) 0.5px solid;
    font-size: 14px;
    padding-left: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    outline: none;
}

.card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.28);
    margin: 3%;
    padding: 3% 2%;
    border-radius: 4px;
}


#percent-invalid-span, #amount-invalid-span {
    color: #ff3b30;
    display: none;
}


.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--main-text-color);
}


.lent-borrowed-text {
    font-size: 12px;
    text-align: right;
    color: var(--main-dark-color);
}

.lent-money-text {
    color: #00D95F;
    text-align: right;
}

.borrowed-money-text {
    color: #FF7A00;
    text-align: right;
}

.group-card-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.empty-expenses-text {
    padding: 5%;
}

.show-group-name-on-card {
    font-size: smaller;
    color: #5b5b5b;
}

.expenses-card-selected {
    box-shadow: 0 0 3px var(--main-color);
    outline: none;
}

.card-date {
    color: var(--main-dark-color);
}

#btnOpenNotifications, #btnChangeTheme {
    cursor: pointer;
}

#themeModal .row {
    margin-top: 4%;
}

#themeModal .column-6 {
    text-align: left;
}

#themeModal input[type="color"] {
	-webkit-appearance: none;
    width: 40px;
	height: 15px;
    border: #5c5c5c solid 1px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#themeModal input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

#themeModal input[type="color"]::-webkit-color-swatch {
	border: none;
}

.modal .theme-background-btn {
    border: none;
    padding: 0 14px;
    /*font-size: 14px;*/
    cursor: pointer;
    /*color: var(--main-color);*/
}

#lightThemeBtn {
    background-color: #ffffff;
    border: #272933 solid 1px;
    color: #ffffff;
}

#darkThemeBtn {
    background-color: #272933;
    border: #272933 solid 1px;
    color: #272933;
}

#saveThemeBtn {
    width: 70px;
    height: 34px;
}

.selected-theme-btn {
    border: var(--main-color) solid 2px !important;
    color: var(--main-color) !important;
}

button .done-icon {
    font-size: 12px;
    font-weight: bold;
}

.dashboard {

}

.dashboard:hover {
    cursor: pointer;
}

.dashboard {
    text-decoration: none;
    padding: 2px;
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.17em;
}