body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    height: 100%;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid;

}

input {
    font-family: 'Montserrat', sans-serif;
}

select {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

header {
    height: 50px;
    position: fixed;
    width: 100%;
}

.navbar {
    background-color: rgb(0, 126, 255);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
    border-bottom: #007adb solid 1px;
    z-index: 10;
}

main {
    min-height: calc(100vh - 160px);
}

.navbar, .main-container {
    padding: 0 10% 0 10%;
}

.main-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-item:hover {
    background-color: rgba(0, 103, 194, 0.9);
    border-radius: 5px;
}

.navbar-logout {
    margin-right: 60px;
}


.profile-nav {
    padding: 5px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.profile-nav img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border: #f1f1f1 solid 1px;
    border-radius: 30px;
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.07);

}


.navbar-logo-text {
    text-transform: uppercase;
    /* font-size: 30px; */
    font-weight: bold;
    font-size: 18px;
    /* vertical-align: middle; */
}

.navbar-item {
    display: inline-block;
    color: white;
    text-decoration: none;
    /*overflow: auto;*/
    padding: 16px 16px;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.dropdown {
    /*overflow: auto;*/
    display: inline-block;
}

.dropdown-content {
    margin-top: 1px;
    display: none;
    position: fixed;
    background-color: white;
    border: rgba(72, 72, 72, 0.85) solid 1px;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
    border-radius: 5px;
}

.dropdown-content a {
    color: rgba(72, 72, 72, 0.85);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
    color: #007eff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.row {
    display: flex;
}

.column-1 {
    flex: 8.33333333%;
}

.column-2 {
    flex: 16.6666666%;
}

.column-3 {
    flex: 25%;
}

.column-4 {
    flex: 33.33333333%;
}

.column-5 {
    flex: 41.66666666%;
}

.column-6 {
    flex: 50%;
}

.column-7 {
    flex: 58.33333333%;
}

.column-8 {
    flex: 66.33333333%;
}

.column-9 {
    flex: 75%;
}

.column-10 {
    flex: 83.33333333%;
}

.column-11 {
    flex: 91%;
}

.column-12 {
    flex: 100%;
}

.sidebar {
    position: fixed;
    width: 250px;
    z-index: 1;
    overflow-x: hidden;
}

.sidebar-container {
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #007eff;
    margin-top: 40px;
    margin-bottom: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}

.sidebar-container .header-sidebar {
    padding: 10px;
}

.sidebar-container li {
    padding: 5px;
}

.row .header-sidebar .column-2 {
    text-align: right;
}

.sidebar-container i {
    vertical-align: middle;
    color: #007eff;
}

.sidebar-container h3 {
    padding: 2px;
    margin: 0;
    color: #007eff;
}

.hr {
    width: 100%;
    height: 1px;
    color: rgba(0, 0, 0, 0);
    background-color: #007eff;
}

.group {
    box-shadow: 0px 3px 10px 0px rgba(0, 126, 255, 0.2);
    /*padding: 18px 10px;*/
    height: 100%;
    margin-top: 10px;
    /*background-color: #f7fcff;*/
}

.group-header {
    display: inline-block;
    width: 93%;
    padding: 30px 2% 30px 5%;

}

.group-header h1 {
    padding: 0px;
    margin: 0;
    /*display: inline-block;*/
}

.group-header button {
    width: 130px;
    height: 34px;
    transition: all 0.5s cubic-bezier(0.65,-0.25,0.25, 1.95);
}

.group-header .btn-set {
    color: #007eff;
    background-color: #ffffff;
    outline: none;
}

.group-header .btn-add {
    color: #ffffff;
    background-color: #007eff;
    border: none;
    outline: none;
}

.group-header .btn-add:hover {
    width: 150px;
}

.group-header .btn-set:hover {
    width: 150px;
}

.group-header img {
    width: 36px;
}

table {
    padding-top: 40px;
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: #f1f1f1 solid 1px;
}

table, th {
    /*border: 1px solid #007eff;*/
}

td {
    padding: 3px 10px;
    text-align: center;
    min-height: 30px;
    /*background-color: #f9fbfd;*/
    /*border-bottom: 1px solid #007eff;*/
}
tr:nth-child(odd) { background-color: #f9fbfd; }


td img {
    width: 30px;
    padding: 3px;
    border: #f1f1f1 solid 1px;
    border-radius: 20px;
}

th {
    text-transform: uppercase;
    padding: 2px 10px;
    /*border: 1px solid #007eff;*/
}

.li-sidebar:hover {
    background-color: #f1f1f1;
    border-radius: 8px;
}

.li-sidebar a:hover {
    color: #007eff;

}

.li-sidebar img {
    width: 30px;
    height: 30px;
    margin-right: 2%;
    border: #f1f1f1 solid 1px;
    border-radius: 50%;

    vertical-align: middle;
}

.li-sidebar a {
    text-decoration: none;
    vertical-align: middle;
    display: block;
    color: rgba(72, 72, 72, 0.85);
    /*text-transform: uppercase;*/
    /*font-size: 26px;*/
}



.ul-sidebar {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.td-status-active {
    color: rebeccapurple;
    text-transform: lowercase;

}

.td-status-closed {
    color: #2ecc71;
    text-transform: lowercase;

}

footer {
    clear: both;
    /*font-size: 10px;*/
}

.footer .hr {
    background-color: rgba(0, 0, 0, 0.20);
    margin-top: 10px;
}

.footer {
    background-color: #f1f1f1;
    /*height: 100px;*/
    padding: 0 10%;
}

.footer .logo {
    margin: 15px 0;
}

.footer .logo img {
    height: 50px;
}

.footer ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 0;
}

.footer ul:before {
    content: "Follow us:";
    font-size: 11px;
}

.footer li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.follow-us {
    /*display: inline-block;*/
    text-align: right;
}

.follow-us img {
    height: 20px;
}

.company {
    padding-left: 83px;
    font-size: 11px;
}


.company a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 10px;
}

.company a:hover {
    color: #007eff;
}


@media only screen and (max-width: 600px) {
    body {
        height: 100%;
    }

    main {
        min-height: calc(100vh - 70px);
    }

    .footer ul {
        display: none;
    }

    .footer .logo img {
        height: 30px;
    }

    .company {
        padding-left: 5%;
    }

}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .footer ul {
        display: none;
    }

    .footer .logo img {
        height: 40px;
    }

    main {
        min-height: calc(100vh - 85px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .main-container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .sidebar {
        width: 140px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .footer ul {
        display: none;
    }

    main {
        min-height: calc(100vh - 95px);
    }

    .main-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sidebar {
        width: 180px;

    }

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,255,255,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 2px solid #007eff;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.4s ease-in-out;
    transform: translateY(-300px);
    border-radius: 8px;
    opacity: 0;
}

.modal-content-right {
    transform: translateX(-300px);
}

.modal-content-activate {
    transform: translate(0px);
    opacity: 1;
}

.modal .column-6 {
    text-align: center;
}

.modal .row {
    margin-bottom: 4%;
}

.column-6 #btn-date-paid {
    padding: 3% 7%;
    border: none;
    margin: auto 0;
    border-radius: 10px;
}

input[type="date" i] {
    background-color: #007eff;
}

.column-6 #btn-add-image {
    padding: 3% 7%;
    margin: auto 0;
    border-radius: 10px;
    height: 100%;
}

#who-settle-content {
    margin-right: 15%;
    opacity: 1;
    width: 18%;
}

#who-settle-content li {
    text-decoration: none;
}

#who-settle-body {
    padding: 0;
}

.modal-settle-li:hover {
    background-color: #fafafa;
    border-radius: 8px;
}

.modal-settle-li a:hover {
    color: #007eff;
}

.modal-settle-li img {
    width: 20px;
    padding: 3%;
    vertical-align: middle;
}

.modal-settle-li a {
    text-decoration: none;
    vertical-align: middle;
    display: block;
    color: rgba(72, 72, 72, 0.85);
    background-color: transparent;
    border-radius: 0;
}


.modal-settle-ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* The Close Button */
.close {
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-top: auto;
}

.add-icon:hover {
    cursor: pointer;
}

.close:hover {
  color: #007eff;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-header {
    padding: 2px 16px;
    margin-top: 3%;
    margin-bottom: 3%;
    color: black;
}

.modal-header .column-2 {
    text-align: right;
}

.modal-header h3 {
    margin: 0;
    font-weight: 900;
}

.modal-body {padding: 2px 16px;}

.modal-input {
    width: 100%;
    /*padding: 3%;*/
    height: 45px;
    box-sizing: border-box;
    border: rgba(72, 72, 72, 0.85) 0.5px solid;
    margin: 20px 0 10px 0;
    font-size: 14px;
    padding-left: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}


.modal .btn-modal-links {
    background-color: #f1f1f1;
    text-decoration: none;
    width: auto;
    height: auto;
    color: #007eff;
    padding: 1%;
    font-size: 15px;
    border-radius: 50%;
}

.modal button {
    color: #ffffff;
    background-color: #007eff;
    border: none;
    margin-top: 2%;
    margin-bottom: 2%;
    outline: none;
}


.input-percent-append {
    height: 100%;
    width: 50%;
    padding: 0 4px;
    border: 0;
    outline: none;
}

.percent-border {
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    border-radius: 3px;
}

.percent  {
    padding: 5px 0 5px 0;
    vertical-align: middle;
}

#percentage-content {
    margin-right: 12%;
    animation-name: animateright;
    width: 22%;
}


#notificationModal .modal-content {
    width: 35%;
}

#notificationModal button {
    width: 70px;
    height: 34px;
}

#notificationModal button.button-accept {
    background-color: #4cd964;
}

#notificationModal button.button-decline {
    background-color: #ff3b30;
}

#notificationModal button.button-seen {
    margin-top: 4%;
}

#notificationModal .column-8 {
    padding-top: 2%;
}

#notificationModal .row {
    margin-bottom: 2%;
}