.profile-photo {
    width: 200px;
    height: 200px;
    /*box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.03) inset;*/
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.07), 1px 1px 3px rgba(0, 0, 0, 0.07);
    border-radius: 100px;
}

.profile-photo-button {
    position: absolute;
    top: 83px;
    left: 35px;
    color: #ffffff;
    background-color: #007eff;
    border: none;
    font-size: 12px;
    width: 130px;
    height: 34px;
}

.profile-submit-btn-parent {
    text-align: right;
}

.profile-submit-btn {
    color: #ffffff;
    background-color: #007eff;
    border: none;
    font-size: 12px;
    width: 230px;
    height: 34px;
    padding: 7px;
}

.profile-photo-col-3 {
    position: relative;
}

.profile-form {
    border: #007eff solid 1px;
    border-radius: 30px;
    padding: 6%;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    overflow: auto;
    /*text-align: center;*/
}

.profile-form input {
    width: 100%;
    /*padding: 3%;*/
    height: 54px;
    border: none;
    box-sizing: border-box;
    /*border: rgba(72, 72, 72, 0.85) 0.5px solid;*/
    padding: 10px;
    font-size: 14px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    /*text-align: center;*/
}

.profile-form .row {
    margin-bottom: 26px;
}

.profile-form select {
    background-color: #f1f1f1;
    border-radius: 8px;
    height: 54px;

    /*width: 100%;*/
    /*box-sizing: border-box;;*/
    border: none;
    /*color: ;*/
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;

    width: 100%;
}


.profile-confirm-submit-btn {
    font-size: 12px;
    width: 50%;
    height: 34px;
    text-transform: uppercase;
}

.modal-content {
    border-width: 1px;
}

.modal-header {
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .main-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
    }


    html {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .profile-form {
        padding: 3%;
        margin-top: 5px;
        margin-left: 6px;
        margin-right: 6px;
    }

    .profile-photo {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin: 0 auto;
        display: block;
    }

    .profile-photo-button {
        display: none;
    }

    .profile-form .row {
        display: block;
    }

    .modal .row {
        display: flex;
    }

    .profile-form input {
        height: 45px;
    }

    .profile-form select {
        height: 45px;
    }

    .profile-form .input-small-device {
        width: 100%;
        margin-top: 26px;
    }

    .profile-submit-btn {
        float: none;
        width: 150px;
        margin: 0 auto;
        display: block;
    }

    .navbar-logout {
        margin-right: 0;
    }

    .modal-content {
        width: 95%;
    }


}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .main-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;

    }

    .navbar {
        width: 88%;
        padding-left: 6%;
        padding-right: 6%;
    }

    .profile-form {
        margin-left: 30px;
        margin-right: 30px;
    }

    .navbar-logout {
        margin-right: 0;
    }


    .modal-content {
        width: 95%;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .navbar {
        width: 88%;
        padding-left: 6%;
        padding-right: 6%;
    }

    .main-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-logout {
        margin-right: 0;
    }
}

