<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/friends_groups.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "img/icon.png" %}" type="image/x-icon">

</head>
<body>
    <header>
        <nav class="navbar row">
            <div class="column-3">
                <a class="navbar-item" href="./">
                    <div class="text navbar-logo-text">
                        Cashflow
                    </div>
                </a>
            </div>
            <div class="column-2"></div>
            <div class="column-7" style="text-align: right">
                <div class="dropdown">
                    <a class="profile-nav" href="profile">
                        {{ user.username }}
                        <img src="{{ user_photo_path }}">
                    </a>
                    <div class="dropdown-content">
                        <a href="profile">Your account</a>
                        <a href="logout_view">Log out</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-container">
            <div class="header-text">
                {{ title }}
            </div>
            <div class="hr"></div>
            {% for card in cards_content %}
            <div class="row card friend-group-cards" data-type="{{ title }}" data-card="{{ card.id }}">
                <div class="column-3">
                    <img class="group-friend-card-photo" src="{{ card.photo }}"/>
                </div>
                <div class="column-5">
                    <div class="friend-group-name">
                        {{ card.name }}
                    </div>
                    <div class="owes-you-text">
                        you lent {{ card.you_pay }}
                    </div>
                    <div class="you-owe-text">
                        you owe {{ card.you_owe }}
                    </div>
                </div>
                <div class="column-4"></div>
            </div>
            {% empty %}
             <span>{{ title }} list is empty</span>
            {% endfor %}
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="row">
                <div class="column-9 logo">
                    <img src="{% static "img/logo.png" %}" alt="" id="logo">
                </div>
                <div class="column-3">
                    <div class="company">
                        <h4>
                            Company
                        </h4>
                        <a href="#">
                            About us
                        </a>
                        <a href="#">
                            Contact us
                        </a>
                    </div>
                </div>
            </div>
            <div class="hr"></div>
            <div class="row">
                <div class="column-9">

                </div>
                <div class="column-3 follow-us">
                    <ul>
                        <li>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
    </footer>

</body>
<script>
    if(! /Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        window.location.replace("/");
    }
</script>
<script src="{% static "js/friends_groups_mobile.js" %}" type="module"></script>
</html>