<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>friends/groups</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/friends_groups.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-item" href="index_mobile">
                <div class="text navbar-logo-text">
                    Cashflow
                </div>
            </a>
            <div class="dropdown float-right">
                <a class="navbar-item profile-nav" href="profile">
                    gwyrwch
                    <img src="{% static "img/Disc_Plain_orange.png" %}">
                </a>
                <div class="dropdown-content">
                    <a href="profile">Your account</a>
                    <a href="sign_in_up">Log out</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-container">
            <div class="header-text">
                Friends
            </div>
            <div class="hr">.</div>
            <div class="row card">
                <div class="column-3">
                    <img class="group-friend-card-photo" src="{% static "img/Disc_Plain_orange.png" %}"/>
                </div>
                <div class="column-5">
                    <div class="friend-group-name">
                        James
                    </div>
                    <div class="owes-you-text">
                        owes you 20$
                    </div>
                    <div class="you-owe-text">
                        you owe 40$
                    </div>
                </div>
                <div class="column-4"></div>

            </div>
            <div class="hr">.</div>
            <div class="row card">
                <div class="column-3">
                    <img class="group-friend-card-photo" src="{% static "img/Disc_Plain_orange.png" %}"/>
                </div>
                <div class="column-5">
                    <div class="friend-group-name">
                        Rev Shown
                    </div>
                    <div class="owes-you-text">
                        owes you 20$
                    </div>
                    <div class="you-owe-text">
                        you owe 40$
                    </div>
                </div>
                <div class="column-4"></div>

            </div>
            <div class="hr">.</div>
            <div class="row card">
                <div class="column-3">
                    <img class="group-friend-card-photo" src="{% static "img/Disc_Plain_orange.png" %}"/>
                </div>
                <div class="column-5">
                    <div class="friend-group-name">
                        Will Kenny
                    </div>
                    <div class="owes-you-text">
                        owes you 20$
                    </div>
                    <div class="you-owe-text">
                        you owe 40$
                    </div>
                </div>
                <div class="column-4"></div>

            </div>
            <div class="hr">.</div>
            <div class="row card">
                <div class="column-3">
                    <img class="group-friend-card-photo" src="{% static "img/Disc_Plain_orange.png" %}"/>
                </div>
                <div class="column-5">
                    <div class="friend-group-name">
                        Beth Williams
                    </div>
                    <div class="owes-you-text">
                        owes you 20$
                    </div>
                    <div class="you-owe-text">
                        you owe 40$
                    </div>
                </div>
                <div class="column-4"></div>

            </div>
            <div class="hr">.</div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="row">
                <div class="column-9 logo">
                    <img src="{% static "img/logo.png" %}" alt="">
                </div>
                <div class="column-3">
                    <div class="company">
                        <h4>
                            Company
                        </h4>
                        <a href="#">
                            About us
                        </a>
                        <a href="#">
                            Contact us
                        </a>
                    </div>
                </div>
            </div>
            <div class="hr">
                .
            </div>
            <div class="row">
                <div class="column-9">

                </div>
                <div class="column-3 follow-us">
                    <ul>
                        <li>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
    </footer>

</body>
<script>
    if(! /Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        window.location.replace("/");
    }
</script>
</html>