<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
      <title>Cashflow</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-item" href="/">
                <div class="text navbar-logo-text">
                    Cashflow
                </div>
            </a>
            <div class="dropdown float-right">
                <a class="profile-nav" href="profile">
                    gwyrwch
                    <img src="{% static "img/Disc_Plain_orange.png" %}">
                </a>
                <div class="dropdown-content">
                    <a href="profile">Your account</a>
                    <a href="sign_in_up">Log out</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-container row">
            <div class="column-3">
                <div class="sidebar">
                    <div class="sidebar-container">
                        <div class="row header">
                            <div class="column-10">
                                <h3>GROUPS</h3>
                            </div>
                            <div class="column-2">
                                <i class="material-icons">
                                    add
                                </i>
                            </div>
                        </div>
                        <div class="hr">.</div>
                        <ul class="ul-sidebar">
                            <li class="li-sidebar li-sidebar-hover" id="gr1">
                                <a href="#">
                                    <img src="{% static "img/group2.png" %}"
                                         alt=""
                                    >
                                    <span>group1</span>
                                </a>
                            </li>
                            <li class="li-sidebar li-sidebar-hover" id="gr2">
                                <a href="#">
                                    <img src="{% static "img/group2.png" %}"
                                         alt=""
                                    >
                                    <span>group2</span>
                                </a>
                            </li>
                            <li class="li-sidebar li-sidebar-hover" id="gr3">
                                <a href="#">
                                    <img src="{% static "img/group2.png" %}"
                                         alt=""
                                    >
                                    <span>group3</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-container">
                        <div class="row header">
                            <div class="column-10">
                                <h3>FRIENDS</h3>
                            </div>
                            <div class="column-2">
                                <i class="material-icons">
                                    add
                                </i>
                            </div>
                        </div>
                        <div class="hr">.</div>
                        <ul class="ul-sidebar">
                            <li class="li-sidebar li-sidebar-hover" id="fr1">
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}" alt="">
                                    <span>friend1</span>
                                </a>
                            </li>
                            <li class="li-sidebar li-sidebar-hover" id="fr2">
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}" alt="">
                                    <span>friend2</span>
                                </a>
                            </li>
                            <li class="li-sidebar li-sidebar-hover" id="fr3">
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}" alt="">
                                    <span>friend3</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column-9 group">
                <div class="group-header">
                    <div class="row">
                        <div class="column-1">
                            <img src="{% static "img/outline_group_black_48dp.png" %}" alt="">
                        </div>
                        <div class="column-6">
                            <h1>GROUPNAME</h1>
                        </div>
                        <div class="column-1">

                        </div>
                        <div class="column-2" style="margin-right: 10px;">
                            <button id="btnSet" class="btn-set">settle up</button>
                            <div id="settleModal" class="modal">
                                <div class="modal-content">
                                    <div class="row modal-header">
                                        <div class="column-10">
                                            <h3><strong>Settle up</strong></h3>
                                        </div>
                                        <div class="column-2">
                                            <i class="material-icons close" style="float: right">
                                                close
                                            </i>
                                        </div>
                                    </div>
                                    <div class="hr">.</div>
                                    <div class="modal-body">
                                        <div>
                                            <p style="align-content: center">
                                                <button class='btn-modal-links' id='a-who-settle'>You</button> paid
                                                <button class="btn-modal-links" id="a-who-recipient">you</button>.
                                            </p>
                                        </div>
                                        <label>
                                            <input style="margin-top: 0" placeholder="$0.00" class="modal-input">
                                        </label>
                                        <button>Save</button>
                                    </div>
                                </div>
                            </div>
                            <div id="who_settle" class="modal">
                                <div class="modal-content modal-content-right" id="who-settle-content">
                                    <div class="row modal-header">
                                        <div class="column-10">
                                            <h3><strong>Choose  payer</strong></h3>
                                        </div>
                                        <div class="column-2">
                                            <i class="material-icons close" style="float: right">
                                                close
                                            </i>
                                        </div>
                                    </div>
                                    <div class="hr">.</div>
                                    <div id="who-settle-body" class="modal-body">
                                        <div>
                                            <ul class="modal-settle-ul">
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Rita Gagarina
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Alex Vistyazh
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Olga Sotnikova
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Polina Lazuk
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Arina Gusakovskaya
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Liza Sokolovskaya
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="who_recipient" class="modal">
                                <div class="modal-content modal-content-right" id="who-settle-content">
                                    <div class="row modal-header">
                                        <div class="column-10">
                                            <h3><strong>Choose a recipient</strong></h3>
                                        </div>
                                        <div class="column-2">
                                            <i class="material-icons close" style="float: right">
                                                close
                                            </i>
                                        </div>
                                    </div>
                                    <div class="hr">.</div>
                                    <div id="who-settle-body" class="modal-body">
                                        <div>
                                            <ul class="modal-settle-ul">
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Rita Gagarina
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Alex Vistyazh
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Olga Sotnikova
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Polina Lazuk
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Arina Gusakovskaya
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Liza Sokolovskaya
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column-2">
                            <button id="btnAdd" class="btn-add">add new</button>
                            <div id="addModal" class="modal">
                                <div class="modal-content">
                                    <div class="row modal-header">
                                        <div class="column-10">
                                            <h3><strong>Add an expense</strong></h3>
                                        </div>
                                        <div class="column-2">
                                            <i class="material-icons close" style="float: right">
                                                close
                                            </i>
                                        </div>
                                    </div>
                                    <div class="hr">.</div>
                                    <div class="modal-body">
                                        <label>
                                            <input placeholder="Description" class="modal-input">
                                        </label>
                                        <label>
                                            <input placeholder="$0.00" class="modal-input">
                                        </label>
                                        <div>
                                            <p>Paid by
                                                <button id="a-who-paid" class="btn-modal-links">you</button> and split
                                                <button id="a-split" class="btn-modal-links">equally</button>. (0.00$/person)
                                            </p>
                                        </div>
                                        <button>Save</button>
                                    </div>
                                </div>
                            </div>
                            <div id="who_paid" class="modal">
                                <div class="modal-content modal-content-right" id="who-settle-content">
                                    <div class="row modal-header">
                                        <div class="column-10">
                                            <h3><strong>Choose payer</strong></h3>
                                        </div>
                                        <div class="column-2">
                                            <i class="material-icons close" style="float: right">
                                                close
                                            </i>
                                        </div>
                                    </div>
                                    <div class="hr">.</div>
                                    <div id="who-settle-body" class="modal-body">
                                        <div>
                                            <ul class="modal-settle-ul">
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Rita Gagarina
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Alex Vistyazh
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Olga Sotnikova
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Polina Lazuk
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Arina Gusakovskaya
                                                    </a>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <a>
                                                        <img src="{% static "img/group2.png" %}">
                                                        Liza Sokolovskaya
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="split" class="modal">
                                <div class="modal-content modal-content-right" id="percentage-content">
                                    <div class="row modal-header">
                                        <div class="column-10">
                                            <h3><strong>Split by percentages</strong></h3>
                                        </div>
                                        <div class="column-2">
                                            <i class="material-icons close" style="float: right">
                                                close
                                            </i>
                                        </div>
                                    </div>
                                    <div class="hr">.</div>
                                    <div id="who-settle-body" class="modal-body">
                                        <div>
                                            <ul class="modal-settle-ul">
                                                <li class="modal-settle-li">
                                                    <div class="row">
                                                        <div class="column-8">
                                                            <img src="{% static "img/group2.png" %}">
                                                            Rita Gagarina
                                                        </div>
                                                        <div class="column-4 percent-border">
                                                            <input class="input-percent-append">
                                                            <span class="percent">%</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <div class="row">
                                                        <div class="column-8">
                                                            <img src="{% static "img/group2.png" %}">
                                                            Alex Vistyazh
                                                        </div>
                                                        <div class="column-4 percent-border">
                                                            <input class="input-percent-append">
                                                            <span class="percent">%</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <div class="row">
                                                        <div class="column-8">
                                                            <img src="{% static "img/group2.png" %}">
                                                            Olga Sotnikova
                                                        </div>
                                                        <div class="column-4 percent-border">
                                                            <input class="input-percent-append">
                                                            <span class="percent">%</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <div class="row">
                                                        <div class="column-8">
                                                            <img src="{% static "img/group2.png" %}">
                                                            Polina Lazuk
                                                        </div>
                                                        <div class="column-4 percent-border">
                                                            <input class="input-percent-append">
                                                            <span class="percent">%</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <div class="row">
                                                        <div class="column-8">
                                                            <img src="{% static "img/group2.png" %}">
                                                            Arina Gusakovskaya
                                                        </div>
                                                        <div class="column-4 percent-border">
                                                            <input class="input-percent-append">
                                                            <span class="percent">%</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="modal-settle-li">
                                                    <div class="row">
                                                        <div class="column-8">
                                                            <img src="{% static "img/group2.png" %}">
                                                            Liza Sokolovskaya
                                                        </div>
                                                        <div class="column-4 percent-border">
                                                            <input class="input-percent-append">
                                                            <span class="percent">%</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-table">
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Logo</th>
                            <th>Name</th>
                            <th>Who paid</th>
                            <th>Amount</th>
                            <th>Who lent</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-closed">
                                closed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-closed">
                                closed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-closed">
                                closed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-closed">
                                closed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-closed">
                                closed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-closed">
                                closed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-closed">
                                closed
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="row">
                <div class="column-9 logo">
                    <img src="{% static "img/logo.png" %}" alt="">
                </div>
                <div class="column-3">
                    <div class="company">
                        <h4>
                            Company
                        </h4>
                        <a href="#">
                            About us
                        </a>
                        <a href="#">
                            Contact us
                        </a>
                    </div>
                </div>
            </div>
            <div class="hr">
                .
            </div>
            <div class="row">
                <div class="column-9">

                </div>
                <div class="column-3 follow-us">
                    <ul>
                        <li>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
    </footer>
</body>
<script src="{% static "js/index.js" %}" type="module"></script>
<script src="{% static "js/lib.js" %}" type="module"></script>
</html>
