<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
      <title>Splitwise</title>
      <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-item" href="#">
                <div class="text">
                    Splitwise
                </div>
            </a>
            <div class="dropdown float-right">
                <a class="navbar-item profile-nav" href="profile">
                    gwyrwch
                    <img src="{% static "img/defaultphoto.png" %}">
                </a>
                <div class="dropdown-content">
                    <a href="#">Your account</a>
                    <a href="#">Log out</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-container row">
            <div class="column-3" style="width: 288px;">
                <div class="sidebar">
                    <div class="sidebar-container">
                        <div class="row header">
                            <div class="column-10">
                                <h3>Groups</h3>
                            </div>
                            <div class="column-2">
                                <i class="material-icons">
                                    add
                                </i>
                            </div>
                        </div>
                        <div class="hr">.</div>
                        <ul>
                            <li>group1</li>
                            <li>group2</li>
                            <li>group3</li>
                        </ul>
                    </div>

                    <div class="sidebar-container">
                        <div class="row header">
                            <div class="column-10">
                                <h3>Friends</h3>
                            </div>
                            <div class="column-2">
                                <i class="material-icons">
                                    add
                                </i>
                            </div>
                        </div>
                        <div class="hr">.</div>
                        <ul>
                            <li>friend1</li>
                            <li>friend2</li>
                            <li>friend3</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column-9 group">
                <div class="group-header">
                    <div class="row">
                        <div class="column-1">
                            <img src="{% static "img/outline_group_black_48dp.png" %}">
                        </div>
                        <div class="column-7">
                            <h1>GROUPNAME</h1>
                        </div>

                        <div class="column-2">
                            <button class="btn-set">settle up</button>
                        </div>
                        <div class="column-2">
                            <button class="btn-add">add new</button>
                        </div>
                    </div>
                </div>
                <div class="group-table">
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Logo</th>
                            <th>Name</th>
                            <th>Who paid</th>
                            <th>Amount</th>
                            <th>Who lent</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>

                            </td>
                            <td>
                                ...
                            </td>
                            <td>

                            </td>
                            <td>
                                $228
                            </td>
                            <td>

                            </td>

                            <td>
                                $2
                            </td>
                            <td>
                                Active
                            </td>
                        </tr>

                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>

                            </td>
                            <td>
                                ...
                            </td>
                            <td>

                            </td>
                            <td>
                                $228
                            </td>
                            <td>

                            </td>

                            <td>
                                $2
                            </td>
                            <td>
                                Active
                            </td>
                        </tr>

                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>

                            </td>
                            <td>
                                ...
                            </td>
                            <td>

                            </td>
                            <td>
                                $228
                            </td>
                            <td>

                            </td>

                            <td>
                                $2
                            </td>
                            <td>
                                Active
                            </td>
                        </tr>

                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>

                            </td>
                            <td>
                                ...
                            </td>
                            <td>

                            </td>
                            <td>
                                $228
                            </td>
                            <td>

                            </td>

                            <td>
                                $2
                            </td>
                            <td>
                                Active
                            </td>
                        </tr>

                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>

                            </td>
                            <td>
                                ...
                            </td>
                            <td>

                            </td>
                            <td>
                                $228
                            </td>
                            <td>

                            </td>

                            <td>
                                $2
                            </td>
                            <td>
                                Active
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>

</body>
</html>
