<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
      <title>Cashflow</title>
      <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-item" href="#">
                <div class="text navbar-logo-text">
                    Cashflow
                </div>
            </a>
            <div class="dropdown float-right">
                <a class="navbar-item profile-nav" href="profile">
                    gwyrwch
                    <img src="{% static "img/Disc_Plain_orange.png" %}">
                </a>
                <div class="dropdown-content">
                    <a href="#">Your account</a>
                    <a href="#">Log out</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-container row">
            <div class="column-3" style="width: 288px;">
                <div class="sidebar">
                    <div class="sidebar-container">
                        <div class="row header">
                            <div class="column-10">
                                <h3>GROUPS</h3>
                            </div>
                            <div class="column-2">
                                <i class="material-icons">
                                    add
                                </i>
                            </div>
                        </div>
                        <div class="hr">.</div>
                        <ul class="ul-sidebar">
                            <li class="li-sidebar li-sidebar-hover" id="gr1">
                                <a href="#">
                                    <img src="{% static "img/group2.png" %}"
                                         alt=""
                                    >
                                    <span>group1</span>
                                </a>
                            </li>
                            <li class="li-sidebar li-sidebar-hover" id="gr2">
                                <a href="#">
                                    <img src="{% static "img/group2.png" %}"
                                         alt=""
                                    >
                                    <span>group2</span>
                                </a>
                            </li>
                            <li class="li-sidebar li-sidebar-hover" id="gr3">
                                <a href="#">
                                    <img src="{% static "img/group2.png" %}"
                                         alt=""
                                    >
                                    <span>group3</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-container">
                        <div class="row header">
                            <div class="column-10">
                                <h3>FRIENDS</h3>
                            </div>
                            <div class="column-2">
                                <i class="material-icons">
                                    add
                                </i>
                            </div>
                        </div>
                        <div class="hr">.</div>
                        <ul class="ul-sidebar">
                            <li class="li-sidebar li-sidebar-hover" id="fr1">
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}" alt="">
                                    <span>friend1</span>
                                </a>
                            </li>
                            <li class="li-sidebar li-sidebar-hover" id="fr2">
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}" alt="">
                                    <span>friend2</span>
                                </a>
                            </li>
                            <li class="li-sidebar li-sidebar-hover" id="fr3">
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}" alt="">
                                    <span>friend3</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column-9 group">
                <div class="group-header">
                    <div class="row">
                        <div class="column-1">
                            <img src="{% static "img/outline_group_black_48dp.png" %}" alt="">
                        </div>
                        <div class="column-6">
                            <h1>GROUPNAME</h1>
                        </div>
                        <div class="column-1">

                        </div>
                        <div class="column-2" style="margin-right: 10px;">
                            <button class="btn-set">settle up</button>
                        </div>
                        <div class="column-2">
                            <button class="btn-add">add new</button>
                        </div>
                    </div>
                </div>
                <div class="group-table">
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Logo</th>
                            <th>Name</th>
                            <th>Who paid</th>
                            <th>Amount</th>
                            <th>Who lent</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-closed">
                                closed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-closed">
                                closed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-closed">
                                closed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-closed">
                                closed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-closed">
                                closed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-closed">
                                closed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-active">
                                Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                21/06/2019
                            </td>
                            <td>
                                <img src="{% static "img/group2.png" %}">
                            </td>
                            <td>
                                ...
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $228
                            </td>
                            <td>
                                <img src="{% static "img/friend.png" %}">
                            </td>
                            <td>
                                $2
                            </td>
                            <td class="td-status-closed">
                                closed
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="row">
                <div class="column-9 logo">
                    <img src="{% static "img/logo.png" %}" alt="">
                </div>
                <div class="column-3">
                    <div class="company">
                        <h4>
                            Company
                        </h4>
                        <a href="#">
                            About us
                        </a>
                        <a href="#">
                            Contact us
                        </a>
                    </div>
                </div>
            </div>
            <div class="hr">
                .
            </div>
            <div class="row">
                <div class="column-9">

                </div>
                <div class="column-3 follow-us">
                        <ul>
                            <li>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </footer>
</body>
<script>
    function hover_image(id) {
        return function () {
            var sidebar_el = document.getElementById(id);
            var a_el = sidebar_el.firstElementChild;
            var img_el = a_el.firstElementChild;
            if (id.includes("gr"))
                img_el.src = "static/img/group_hover.png";
            else if (id.includes("fr")) {
                img_el.src = "static/img/friend_hover.png";
            }
        }
    }

    function unhover_image(id) {
        return function () {
            var sidebar_el = document.getElementById(id);
            var a_el = sidebar_el.firstElementChild;
            var img_el = a_el.firstElementChild;
            if (id.includes("gr"))
                img_el.src = "static/img/group2.png";
            else if (id.includes("fr"))
                img_el.src = "static/img/friend.png";
        }
    }


    var  all_sidebar_elements = document.getElementsByClassName("li-sidebar-hover");
    var  save_sidebar_elements = document.getElementsByClassName("li-sidebar-hover");
    for (var i = 0; i < all_sidebar_elements.length; i++) {
        all_sidebar_elements[i].onmouseover = hover_image(all_sidebar_elements[i].id);
        all_sidebar_elements[i].onmouseout = unhover_image(all_sidebar_elements[i].id);

    }
</script>
</html>
