<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cashflow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/main_mobile.css" %}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar row">
            <div class="column-3">
                <a class="navbar-item" href="/">
                    <div class="text navbar-logo-text">
                        Cashflow
                    </div>
                </a>
            </div>
            <div class="column-2"></div>
            <div class="column-7" style="text-align: right">
                <div class="dropdown">
                    <a class="profile-nav" href="profile">
                        {{ user.username }}
                        <img src="{{ user_photo_path }}">
                    </a>
                    <div class="dropdown-content">
                        <a href="profile">Your account</a>
                        <a href="logout_view">Log out</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-container">
            <div class="row">
                <img class="group-photo" src="{{ selected_group_photo }}"/>
            </div>
            <div class="group-name-text">
                {{ selected_group_name}}
            </div>
            <div class="row row-btns">
                <div class="column-3">
                    <button class="btn-groups btn-white" onclick="location.href='friends_groups';">
                        groups
                    </button>
                </div>
                <div class="column-3">
                    <button class="btn-groups btn-blue" onclick="location.href='friends_groups';">
                        friends
                    </button>
                </div>
                <div class="column-3 btn-to-right">
                    <button id="btnSet" class="btn-set btn-white">
                        settle up
                    </button>
                    <div id="settleModal" class="modal">
                        <div class="modal-content">
                            <div class="row modal-header">
                                <div class="column-10">
                                    <h3><strong>Settle up</strong></h3>
                                </div>
                                <div class="column-2">
                                    <i class="material-icons close close-settle-modal">
                                        close
                                    </i>
                                </div>
                            </div>
                            <div class="hr"></div>
                            <div class="modal-body">
                                <div>
                                    <p style="align-content: center">
                                        <span class='btn-modal-links' id='a-who-settle'>You</span> paid
                                        <span class="btn-modal-links" id="a-who-recipient">you</span>.
                                    </p>
                                </div>
                                <label>
                                    <input style="margin-top: 0" id="settle-expense-amount" class="modal-input">
                                </label>
                                <button id="btn-settle-up-confirm">Save</button>
                            </div>
                        </div>
                    </div>
                    <div id="noExpenseChooseModal" class="modal">
                        <div class="modal-content">
                            <div class="row modal-header">
                                <div class="column-10">
                                    <h3><strong>You should select some expense to settle up</strong></h3>
                                </div>
                                <div class="column-2">
                                    <i class="material-icons close close-no-expense-modal">
                                        close
                                    </i>
                                </div>
                            </div>

                            <div class="modal-body">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-3 btn-to-right">
                    <button id="btnAdd" class="btn-set btn-blue">
                        add new
                    </button>
                    <div id="addModal" class="modal">
                        <div class="modal-content">
                            <div class="row modal-header">
                                <div class="column-10">
                                    <h3><strong>Add an expense</strong></h3>
                                </div>
                                <div class="column-2">
                                    <i class="material-icons close-add-expense-modal">
                                        close
                                    </i>
                                </div>
                            </div>
                            <div class="hr"></div>
                            <div class="modal-body">
                                <label>
                                    <input placeholder="Description" class="modal-input">
                                </label>
                                <label>
                                    <input placeholder="$0.00" class="modal-input">
                                </label>
                                <div>
                                    <p>Paid by
                                        <button id="a-who-paid" class="btn-modal-links">you</button> and split
                                        <button id="a-split" class="btn-modal-links">equally</button>. (0.00$/person)
                                    </p>
                                </div>
                                <button>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for exp in group_expenses %}
                <div>
                    <div class="row card expenses-card" id="{{ exp.id }}-card">
                        <div class="column-2">
                            <img class="group-card-photo" src="{{ exp.photo }}"/>
                        </div>
                        <div class="column-4">
                            <div class="exp-name-text">
                                {{ exp.description }}
                            </div>
                            <div class="card-date">
                                {{ exp.date }}
                            </div>
                            <div class="show-group-name-on-card">
                            {% if selected_friend_id and exp.group_name %}
                                group: {{ exp.group_name }}
                            {% endif %}
                            </div>
                        </div>
                        <div class="column-2">

                        </div>
                        <div class="column-4">
                            <div class="lent-borrowed-text">{{ exp.text }}</div>
                            {% if exp.lent %}
                                <div class="lent-money-text">{{ exp.amount }}{{ exp.currency }}</div>
                            {% else %}
                                <div class="borrowed-money-text">{{ exp.amount }}{{ exp.currency }}</div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            {% empty %}
                <div class="empty-expenses-text">
                    No active expenses in this group yet.
                </div>
            {% endfor %}
        </div>

    </main>
    <footer>
        <div class="footer">
            <div class="row">
                <div class="column-9 logo">
                    <img src="{% static "img/logo.png" %}" alt="">
                </div>
                <div class="column-3">
                    <div class="company">
                        <h4>
                            Company
                        </h4>
                        <a href="#">
                            About us
                        </a>
                        <a href="#">
                            Contact us
                        </a>
                    </div>
                </div>
            </div>
            <div class="hr"></div>
            <div class="row">
                <div class="column-9">
                </div>
                <div class="column-3 follow-us">
                    <ul>
                        <li>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
    </footer>
</body>

<script src="{% static "js/index_mobile.js" %}" type="module"></script>
<script src="{% static "js/lib.js" %}" type="module"></script>

</html>