<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cashflow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/main_mobile.css" %}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar row">
            <div class="column-3">
                <a class="navbar-item" href="/">
                    <div class="text navbar-logo-text">
                        Cashflow
                    </div>
                </a>
            </div>
            <div class="column-2"></div>
            <div class="column-7" style="text-align: right">
                <div class="dropdown">
                    <a class="profile-nav" href="profile">
                        gwyrwch
                        <img src="{% static "img/Disc_Plain_orange.png" %}">
                    </a>
                    <div class="dropdown-content">
                        <a href="profile">Your account</a>
                        <a href="sign_in_up">Log out</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-container">
            <div class="row">
                <img class="group-photo" src="{% static "img/Disc_Plain_orange.png" %}"/>
            </div>
            <div class="group-name-text">
                Flat 102
            </div>
            <div class="row row-btns">
                <div class="column-3">
                    <button class="btn-groups btn-white" onclick="location.href='friends_groups';">
                        groups
                    </button>
                </div>
                <div class="column-3">
                    <button class="btn-groups btn-blue" onclick="location.href='friends_groups';">
                        friends
                    </button>
                </div>
                <div class="column-3 btn-to-right">
                    <button id="btn-settle-up" class="btn-set btn-white">
                        settle up
                    </button>
                    <div id="settleModal" class="modal">
                        <div class="modal-content">
                            <div class="row modal-header">
                                <div class="column-10">
                                    <h3><strong>Settle up</strong></h3>
                                </div>
                                <div class="column-2">
                                    <i class="material-icons close">
                                        close
                                    </i>
                                </div>
                            </div>
                            <div class="hr"></div>
                            <div class="modal-body">
                                <div>
                                    <p style="align-content: center">
                                        <button class='btn-modal-links' id='a-who-settle'>You</button> paid
                                        <button class="btn-modal-links" id="a-who-recipient">you</button>.
                                    </p>
                                </div>
                                <label>
                                    <input style="margin-top: 0" placeholder="$0.00" class="modal-input">
                                </label>
                                <button>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-3 btn-to-right">
                    <button id="btn-add-new" class="btn-set btn-blue">
                        add new
                    </button>
                    <div id="addModal" class="modal">
                        <div class="modal-content">
                            <div class="row modal-header">
                                <div class="column-10">
                                    <h3><strong>Add an expense</strong></h3>
                                </div>
                                <div class="column-2">
                                    <i class="material-icons close">
                                        close
                                    </i>
                                </div>
                            </div>
                            <div class="hr"></div>
                            <div class="modal-body">
                                <label>
                                    <input placeholder="Description" class="modal-input">
                                </label>
                                <label>
                                    <input placeholder="$0.00" class="modal-input">
                                </label>
                                <div>
                                    <p>Paid by
                                        <button id="a-who-paid" class="btn-modal-links">you</button> and split
                                        <button id="a-split" class="btn-modal-links">equally</button>. (0.00$/person)
                                    </p>
                                </div>
                                <button>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row card">
                <div class="column-2">
                    <img class="group-card-photo" src="{% static "img/Disc_Plain_orange.png" %}"/>
                </div>
                <div class="column-4">
                    <div class="exp-name-text">
                        airport water
                    </div>
                    <div class="card-date">
                        20.01.2020
                    </div>
                </div>
                <div class="column-3">

                </div>
                <div class="column-3">
                    <div class="lent-borrowed-text">you borrowed</div>
                    <div class="borrowed-money-text">5BYN</div>
                </div>

            </div>
            <div class="row card">
                <div class="column-2">
                    <img class="group-card-photo" src="{% static "img/Disc_Plain_orange.png" %}"/>
                </div>
                <div class="column-4">
                    <div class="exp-name-text">
                        Tenerife cafe
                    </div>
                    <div class="card-date">
                        28.01.2020
                    </div>
                </div>
                <div class="column-3">

                </div>
                <div class="column-3">
                    <div class="lent-borrowed-text">you lent</div>
                    <div class="lent-money-text">72.00$</div>
                </div>

            </div>
            <div class="row card">
                <div class="column-2">
                    <img class="group-card-photo" src="{% static "img/Disc_Plain_orange.png" %}"/>
                </div>
                <div class="column-4">
                    <div class="exp-name-text">
                        restaurant Gvozd
                    </div>
                    <div class="card-date">
                        20.02.2020
                    </div>
                </div>
                <div class="column-3">

                </div>
                <div class="column-3">
                    <div class="lent-borrowed-text">you lent</div>
                    <div class="lent-money-text">462.77$</div>
                </div>

            </div>
            <div class="row card">
                <div class="column-2">
                    <img class="group-card-photo" src="{% static "img/Disc_Plain_orange.png" %}"/>
                </div>
                <div class="column-4">
                    <div class="exp-name-text">
                        petrol
                    </div>
                    <div class="card-date">
                        03.03.2020
                    </div>
                </div>
                <div class="column-3">

                </div>
                <div class="column-3">
                    <div class="lent-borrowed-text">you borrowed</div>
                    <div class="borrowed-money-text">223BYN</div>
                </div>

            </div>
        </div>

    </main>
    <footer>
        <div class="footer">
            <div class="row">
                <div class="column-9 logo">
                    <img src="{% static "img/logo.png" %}" alt="">
                </div>
                <div class="column-3">
                    <div class="company">
                        <h4>
                            Company
                        </h4>
                        <a href="#">
                            About us
                        </a>
                        <a href="#">
                            Contact us
                        </a>
                    </div>
                </div>
            </div>
            <div class="hr"></div>
            <div class="row">
                <div class="column-9">

                </div>
                <div class="column-3 follow-us">
                    <ul>
                        <li>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{% static "img/friend.png" %}">
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
    </footer>
</body>

<script src="{% static "js/index_mobile.js" %}" type="module"></script>
<script src="{% static "js/lib.js" %}" type="module"></script>

</html>