<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
      <title>Cashflow</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}">
      <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
<body>
    <header>
        <nav class="navbar row">
            <div class="column-2">
                <a class="navbar-item" href="/">
                    <div class="text navbar-logo-text">
                        Cashflow
                    </div>
                </a>
            </div>
            <div class="column-8"></div>
            <div class="column-2" style="text-align: right">
                <a class="navbar-item navbar-logout" href="logout_view">
                    Log out
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-container">
            <form class="profile-form" method="post" enctype="multipart/form-data" onkeydown="return event.key !== 'Enter';">
                {% csrf_token %}
                <div class="row">
                    <div class="column-3 profile-photo-col-3">
                        {% if photo_path %}
                            <img class="profile-photo" src="{{ photo_path }}" alt="..."/>
                        {% else %}
                            <img class="profile-photo" src="{% static "img/profile_default.jpg" %}" alt="..."/>
                        {% endif %}

                        <button type="button" class="profile-photo-button">UPLOAD PHOTO</button>
                        <input type="file" id="photo" name="photo" style="display: none;">
                    </div>
                    <div class="column-6">
                        <div class="row">
                            <div class="column-5">
                                <input class="input-small-device" type="text" value="{{ user.first_name }}" name="name" placeholder="Rita">
                            </div>
                            <div class="column-1">

                            </div>
                            <div class="column-6">
                                <input class="input-small-device" type="text" value="{{ user.last_name }}" name="surname" placeholder="Gagarina">
                            </div>
                        </div>
                        <div class="row">
                            <div class="column-12">
                                <input type="email" value="{{ user.email }}" name="email" placeholder="gwyrwch@mail.ru">
                            </div>
                        </div>
                        <div class="row">
                            <div class="column-12">
                                <input type="password" name="password" placeholder="New password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="column-12">
                                <select name="currency">
                                    &nbsp
                                    <option>BYN</option>
                                    <option>USD</option>
                                    <option>EUR</option>
                                    <option>PLN</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="display: inline;">
                            <div class="column-12 profile-submit-btn-parent">
                                <button id="saveChanges" type="button" class="profile-submit-btn">SAVE</button>
                            </div>
                            <div id="confirmModal" class="modal">
                                <div class="modal-content" id="modal-content-kek">
                                    <div class="row modal-header">
                                        <div class="column-9">
                                            <h3><strong>Confirm changes</strong></h3>
                                        </div>
                                        <div class="column-2">
                                            <i class="material-icons close">
                                                close
                                            </i>
                                        </div>
                                    </div>
                                    <div class="hr"></div>
                                    <div class="modal-body">
                                        <label>
                                            <input placeholder="Current password" type="password" name="cur_password" class="modal-input">
                                        </label>
                                        <span id="password-invalid-span">Incorrect password</span>
                                        <button type="button" class="profile-confirm-submit-btn">Save</button>
                                        <button id="submit-btn" type="submit" style="display: none"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="row">
                <div class="column-9 logo">
                    <img src="{% static "img/logo.png" %}" alt="">
                </div>
                <div class="column-3">
                    <div class="company">
                        <h4>
                            Company
                        </h4>
                        <a href="#">
                            About us
                        </a>
                        <a href="#">
                            Contact us
                        </a>
                    </div>
                </div>
            </div>
            <div class="hr">
                .
            </div>
            <div class="row">
                <div class="column-9">

                </div>
                <div class="column-3 follow-us">
                        <ul>
                            <li>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </footer>
</body>
<script src="{% static "js/profile.js" %}" type="module"></script>
<script src="{% static "js/lib.js" %}" type="module"></script>
<script>
</script>
</html>
