<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>Cashflow</title>
      <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "css/sign_in_up.css" %}">
      <link rel="stylesheet" type="text/css" href="{%  static "css/ispinner.css" %}">

      <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-item" href="/">
                <div class="text navbar-logo-text">
                    Cashflow
                </div>
            </a>
        </nav>
    </header>
    <main>
        <div class="main-container">
            <h1>
                ~Some cool slogan~
            </h1>
            <h2>
                ~some text about the web app, with what it can help and etc~
            </h2>
            <div class="switch">
                <button class="btn-primary btn1" id="sin" onclick="sign_in_click();">
                    sign in
                </button>
                <button class="btn-secondary btn2" id="sup" onclick="sign_up_click();">
                    sign up
                </button>
            </div>
            <div class="sign_form_base">
                <form class="sign_form" id="sign-in-form" method="post" onkeydown="return event.key !== 'Enter';">
                    {% csrf_token %}
                    <h2>
                        Sign in to <span class="span-logo-text">Cashflow</span>
                    </h2>
                    {% if no_such_user  %}
                        <span id="no-such-user-span" style="display: block">No such user in database</span>
                    {% endif %}
                    <div class="row">
                        <div class="column-12">
                            <label>
                                <input name="sign-in-username" autocomplete="new-password" placeholder="Username">
                                <span id="username-in-invalid-span">Username shouldn't be empty</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column-12">
                            <label>
                                <input type="password" name="sign-in-password" autocomplete="new-password" placeholder="Password">
                                <span id="password-in-invalid-span">Password shouldn't be empty</span>
                            </label>
                        </div>
                    </div>
                    <button type="button" class="btn-sign-in" id="btn-sign-in">
                        sign in
                    </button>
                    <button id="btn-sign-in-user" style="display: none"></button>
                </form>
                <form class="sign_form" id="sign-up-form" method="post" onkeydown="return event.key !== 'Enter';">
                    {% csrf_token %}
                    <h2>
                        Create an account in <span class="span-logo-text">Cashflow</span>
                    </h2>
                    <div class="row">
                        <div class="column-12" id="username-spinner">
                            <span class="ispinner gray animating" style="display: none;">
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                            </span>
                            <label>
                                <input placeholder="Username" name="sign-up-username" autocomplete="new-password">
                            </label>

                            <div class="row" style="margin-bottom: 5px">
                                <div class="column-12">
                                    <span id="username-up-invalid-span">.</span>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column-12" id="email-spinner">
                            <span class="ispinner gray animating" style="display: none;">
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                                <span class="ispinner-blade"></span>
                            </span>
                            <label>
                                <input type="email" placeholder="Email" name="sign-up-email" autocomplete="new-password">
                            </label>
                            <div class="row" style="margin-bottom: 0">
                                <div class="column-12">
                                    <span id="email-up-invalid-span">.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column-12">
                            <label>
                                <input type="password" placeholder="Password" name="sign-up-password" autocomplete="new-password">
                            </label>
                            <div class="indicator-row">
                                <div class="indicator"></div>
                                <div class="indicator"></div>
                                <div class="indicator"></div>
                                <div class="indicator"></div>
                                <div class="indicator"></div>
                            </div>
                            <span id="password-up-invalid-span">You need more strengthen password</span>
                        </div>
                    </div>
                    <button  type="button" class="btn-sign-in" id="btn-sign-up" disabled>
                        sign up
                    </button>
                    <button id="btn-sign-up-user" style="display: none"></button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="row">
                <div class="column-9 logo">
                    <img src="{% static "img/logo.png" %}" alt="">
                </div>
                <div class="column-3">
                    <div class="company">
                        <h4>
                            Company
                        </h4>
                        <a href="#">
                            About us
                        </a>
                        <a href="#">
                            Contact us
                        </a>
                    </div>
                </div>
            </div>
            <div class="hr">
                .
            </div>
            <div class="row">
                <div class="column-9">

                </div>
                <div class="column-3 follow-us">
                        <ul>
                            <li>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static "img/friend.png" %}">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </footer>
</body>
<script>
    var sign_up_form = document.getElementById('sign-up-form');
    {#sign_up_form.style.width = "0px";#}
    sign_up_form.style.display = 'none';
    sign_up_form.style.opacity = '0';


    function sign_in_click() {
        var sign_in_form = document.getElementById('sign-in-form');
        var sign_up_form = document.getElementById('sign-up-form');

        sign_in_form.style.display = 'block';
        sign_up_form.style.display = 'none';

        setTimeout(function () {
            sign_in_form.style.opacity = '1';
            sign_up_form.style.opacity = '0';
        });

        {#sign_in_form.style.width = "100px";#}
        {#sign_up_form.style.width = "0px";#}

        var btn1 = document.getElementById('sin');
        var btn2 = document.getElementById('sup');

        btn1.classList.remove("btn-secondary");
        btn1.classList.add("btn-primary");

        btn2.classList.remove("btn-primary");
        btn2.classList.add("btn-secondary");
    }

    function sign_up_click() {
        var sign_in_form = document.getElementById('sign-in-form');
        var sign_up_form = document.getElementById('sign-up-form');


        sign_in_form.style.display = 'none';
        sign_up_form.style.display = 'block';

        setTimeout(function () {
            sign_in_form.style.opacity = '0';
            sign_up_form.style.opacity = '1';
        });

        var btn1 = document.getElementById('sup');
        var btn2 = document.getElementById('sin');

        btn1.classList.remove("btn-secondary");
        btn1.classList.add("btn-primary");

        btn2.classList.remove("btn-primary");
        btn2.classList.add("btn-secondary");
    }

</script>
<script src="{% static "js/sign_in_up.js" %}" type="module"></script>


</html>
